<body>
  <div>
    <div
      class='home-container'
      style='width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgb(54, 0, 51) 1.00%,rgb(11, 135, 147) 98.00%);'
    >
      <div
        class='home-container1'
        style='width: 90%;
  display: flex;
  align-self: center;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.85);
  margin-top: 24px;
  align-items: center;
  margin-left: 0px;
  padding-top: 1px;
  margin-right: 0px;
  padding-left: 1px;
  border-radius: 8px;
  margin-bottom: 0px;
  padding-right: 1px;
  flex-direction: column;
  padding-bottom: 64px;
  justify-content: flex-start;
  background-color: #ececec;'
      >
        <div
          class='home-container2'
          style='flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: #c9c9c9;'
        >
          <h1
            class='home-text'
            style='margin-top: 16px;
  font-family: Exo 2;
  margin-bottom: 16px;'
          >{{message}}</h1>
        </div>
        <div
          class='home-container3'
          style='width: 90%;height: 100%;display: flex;margin-top: 48px;align-items: center;padding-left: 32px;padding-right: 32px;flex-direction: column;justify-content: flex-start;'
        >
          <span
            class='home-text1 sub-header'
            style='align-self: flex-start;margin-bottom: 0px;'
          >Received Information:</span>
          <div
            class='home-container4'
            style='flex: 0 0 auto;width: 100%;height: 100px;display: flex;align-items: flex-start;border-radius: 8px;background-color: #e0e0e0;'
          ></div>
          {{#if linked_url}}
            <button
              class='home-button button'
              style='color: #ffffff;width: 70%;font-size: 18px;box-shadow: 5px 5px 10px 0px #969696;margin-top: 24px;text-align: center;font-family: Exo 2;border-width: 0px;border-radius: 8px;background-color: #194983;'
            ><a href='{{linked_url}}'>{{linked_url_tag}}</a></button>
          {{/if}}
          <span
            class='home-text2 sub-header'
            style='font-size: 16px;align-self: flex-start;padding-top: 16px;'
          >Raw Data:</span>
          <div
            class='home-container5'
            style='flex: 0 0 auto;width: 100%;border: 2px dashed rgba(120, 120, 120, 0.4);height: 100px;display: flex;align-self: center;align-items: flex-start;'
          >todo raw data</div>
        </div>
        <span
          class='home-text3'
          style='font-style: normal;font-family: Exo 2;font-weight: 200;padding-top: 16px;'
        >{{timestamp}}</span>
      </div>
      <div
        class='home-container6'
        style='flex: 0 0 auto;width: 100%;height: 100px;display: flex;align-items: center;padding-top: 8px;justify-content: center;'
      >
        <span
          class='home-text4'
          style='color: #ffffff;font-size: 24px;font-style: normal;font-family: Exo 2;font-weight: 800;text-transform: capitalize;'
        >Mailify</span>
        <span
          class='home-text5'
          style='font-size: 18px;font-family: Source Sans Pro;padding-left: 6px;'
        >Lite</span>
      </div>
    </div>
  </div>
</body>